:root {
    --first-color: #395698;
    --second-color: #f4511e;
    --third-color: #344c94 ;
  }

.bg-third-color {
    background-color: var(--third-color) !important;
}

.bg-highlight {
    background-image:url("../images/bg-hero.jpg") !important;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-highlight {
    
    color: var(--first-color) !important;
}
.navbar-toggler {
    border-color:#ffffff !important;
}
.active-highlight {
    color:black !important;
    background-color:whitesmoke;
    border-radius: 5px;
    transition: .5s;
    padding:5px !important;
    margin:5px 0px !important;
}