:root {
    --first-color: slateblue;
    --second-color: #f4511e;
  }


.bg-highlight {
    /*background-color:#f4511e !important;*/
    background-color:var(--first-color) !important;
}
.text-highlight {
    /*color: #f4511e !important;*/
    color: var(--first-color) !important;
}

